<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(159, 131, 185);">

<h1>Civil Engineering<h1>
    <img src="{{url_for('static',filename="images/civil2.jpg")}}" width="50%" height="50%" alt="civil image">

<h5>Prominent Features
B.Tech (CE) Accredited by National Board of Accreditation
Well qualified and experienced faculty.<h5>
Department Library
Civil department got  as Organisation life member in Indian Concrete Institute
Overview
The Department of Civil Engineering was formed in 2009. The Department offers B.Tech. (CE) Programme. It is started with an intake 60 seats, in 2009. The Intake is increased to 120 seats in 2014. Department got NBA accreditation in 2017 for 3 years under Tier II.

The department always strives to thrive for the student’s career to reach new heights.

The department functions to make the Vision and Mission of the Institution come true. The Faculty and students of Department civil engineering understood the Vision and Mission of the Institute. To attain the Vision and Mission of the Institution, the faculty trains the students not only with oral lectures but also with Audio / Visual Teaching aids to make the students well acquainted with the concept. The students are given assignments, to understand the applications of a concept, soon a concept / Chapter / Unit is completed. A few projects carried out with a research paper publication initiative.

Remedial classes are conducted for Academically Backward students.

The department is always in the forefront to adopt new technology to meet the needs of Industry to provide better education for the students.

The department has a departmental association called “CEBIDS” formed in the year  2014 under the association National Technical fest called  “ AADYA” is conducted in the month of  Feb/March every year.The students of the department are allowed to participate in Intra and Intercollegiate level paper presentation, technical Quizzes and Project work competitions. They are also allowed to participate in literary competitions, cultural activities and Sports and Games to boost their social morals. The students brought laurels to the Department and to the college, in turn.

Apart from the students, the faculty is encouraged to participate in Seminars, Conferences, Workshops, Faculty Development Programmes and Short Term Training Programs to improve their conceptual and teaching pedagogical skills and advancement in the career.To get rid of aggressive competition in industry for placements, along with the academics we foster and train the students in the field of communication and Soft Skills too.

Manhattan Review, Monster College, CoCubes.com are providing Campus Placements & Recruitment Training for UG and PG Students. Campus Recruitment Training (CRT) classes are conducted separately along with semester course work. Four CRT-classes are conducted by specially trained faculty from II year of B.Tech programme to Final Year B.Tech.
    
<img src="{{url_for('static',filename="images/civil.jpg")}}" width="50%" height="50%" alt="civil image">

</body>
</html>