<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE</title>
</head>
<body style="background-color:rgb(178, 204, 178);">
    <h1> Computer Science Engineering</h1>
    <img src="{{url_for('static',filename="images/cse1.webp")}}" width="50%" height="50%" alt=cse image">


    <p>
       
Prominent Features
B.Tech (CSE) Accredited by National Board of Accreditation
Well qualified and experienced faculty in diversified domains.
Nine computer centers with state-of-the-art-facilities.
an Exclusive Department Library
FACE The CSE Students Association.
ANURAG-CSI Chapter
The Department entered into MOUs with Infosys, TASK, Redhat, Microsoft, Co-Cubes,Oracle, IEG, Nucleus Vision LLC, Radiant Technologies, SAP, Birla Soft, Aspiring Minds, Globarena, NIS and Campus Classle & etc.,to provide high quality training in latest cutting edge technologies.
<h3>Overview</h3>
The department of CSE was established in 2001 with an intake of 60 students in the UG Programme. Right from its inception it is continuously striving to impart quality education and competitive spirit among students for academic excellence. The present intake in B. Tech (CSE) is 180.

The department is equipped with state of the art computing facilities and experienced staff members and is known for its academic excellence proved by its performances since its inception. The Department also has audio-visual facilities with LCD Projectors and Digital Boards and Seminar Hall for effective teaching. The staff members are deputed to participate in workshops, Conferences and refreshers courses to keep in place with recent developments in the field of Computer Science & Engineering.

A good number of students from the department obtained admissions into M.S. (Computer Science) Program abroad. Many of the students were placed in MNCs like Infosys, Cognizant, IBM, TCS, Wipro, HCL, Tech Mahindra, Accenture, Google, Amazon, Genpact and Oracle in various challenging positions. Students are encouraged to participate in extracurricular activities and competitions held by other universities and colleges within the state and out-side the state. The students have won laurels to the college winning prizes in competitions – IASF-2020(IUCEE Annual Student Forum), LBRCE, SV University,NITW. Apart from the regular academic work, the department organizes guest lectures, seminars, workshops by inviting domain experts from industry and other reputed academic institutions.
    </p>
    <img src="{{url_for('static',filename="images/CSE.jpeg")}}" width="50%", height="50%" alt="CSE">

    <img src="{{url_for('static',filename='images/student.png')}}" width="50%", height="50%" alt="CSE">
   
</body>
</html>