<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(201, 185, 166);">
    <p><h1>Electronics and Communication Engineering</h1>
     <img src="{{url_for('static',filename="images/ece2.jpg")}}" width="50%" height="50%" alt="ece image">

    
        Prominent Features
        Departmental has a Library which caters to the needs of the students & staff.
        The Institute has an ISTE Faculty Chapter and the faculties of our department who are members of ISTE actively participate in the various activities of ISTE.
        The Department has established the Department Association named as E-SPICE (Electronics Students Proactive Innovative Communication Engineers).
        <h3>Overview</h3>
        The department of ECE was established in 2001 with an intake of 60 students in the UG Programme. The intake was enhanced to 90 in 2005. In the year 2007 an additional intake of 30 was sanctioned, next in the year 2011 intake was extended to 180. The department also runs Post Graduate Programme, M.Tech (VLSI System Design), which started from year 2007 with an intake of 18 students; in the year 2010 intake was enhanced to 36.
        The department has highly qualified and experienced faculty. There are Seven Doctorates in the department. The department has good infrastructural facilitates and is equipped with full-fledged laboratories. The department also has audio-visual facilities with one LCD and Digital Flip Board for effective teaching. The staff members are deputed to participate in workshops, conferences, and refresher courses to keep in pace with recent developments in the field of Electronics & Communications Engineering.
        
        The Department is Accredited by AICTE-NBA.
        
        We have a Departmental Library which caters to the needs of the students & staff
        The Institute has an ISTE Faculty Chapter and the faculties of our department who are members of ISTE actively participate in the various activities of ISTE.
        The Department has established the Department Association named as E-SPICE (Electronics Students Proactive Innovative Communication Engineers)
        As a part of the curriculum, Industrial visits are arranged for students of B.Tech (ECE) in I and II Semester. Students of our department actively participate in National-level Student Paper Presentation Contests being organized at various engineering colleges and universities. A few of them have been awarded in these paper presentation contests. The Department had organized a one day National-level Technical Symposium under the association of E-SPICE in the name of ASCARYA.</p>
        <img src="{{url_for('static',filename="images/ECE.jpeg")}}" width="50%", height="50%" alt="ECE">
        <img src="{{url_for('static',filename="images/scince exbution.png")}}" width="50%", height="50%" alt="ECE">

</body>
</html>