<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EEE</title>
</head>
<body style="background-color:rgb(153, 98, 62);">
    <img src="{{url_for('static',filename="images/eee1.jpg")}}" width="50%", height="50%" alt="EEE">
    <p>
       <h1> Electrical and Electronics Engineering</h1>
Prominent Features
The Department has been accredited two times by NBA in FEB-2009 and in JULY-2014. The state of the art equipment in all the laboratories meeting the requirements of JNTU & AICTE Norms, some sophisticated equipment and software’s has been procured to facilitate the students give skills beyond the syllabus under TEQIP-II.

<h3>Overview</h3>
The department of EEE was established in 2002 with an intake of 60 students in the UG programme and the intake was increased to 90 in the year 2009 and upgraded to 120 in the year 2014.
The department has highly qualified and experienced faculty with Professors, Associate Professors and Assistant Professors. The department has good infrastructure facilitates and is equipped with full-fledged laboratories. The department has Digital classrooms equipped with interactive digital flip board and also has audio-visual facilities with LCD projectors for effective teaching. The staff members are deputed to participate in workshops, conferences, and refresher courses to keep in pace with recent developments in the field of Electrical & Electronics Engineering. The departmental Library which caters to the needs of the students & staff. The institute has an ISTE Faculty Chapter and the faculties of our department who are members of ISTE actively participate in the various activities of ISTE. The department has established the department Association named ELAN.
As a part of the curriculum, Industrial visits are arranged for students of III B.Tech. Students of our department are encouraged to participate in National-level Student Paper Presentation Contests being organized at various engineering colleges and universities. Most of them have been awarded in these paper presentation contests. The department has been organizing National-level Technical Paper Presentation under the banner of SMARTECH every year.
    </p>
    <img src="{{url_for('static',filename="images/EEE.jpg")}}" width="50%", height="50%" alt="EEE">

</body>
</html>