<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><b>Welcome to Anurag University</b><br>
      <img src="{{url_for('static',filename="images/Img-2-3.png")}}" width="50%" height="50%" alt="campus">
      <br>

      <b>  Anurag University College is established in 2001 and is reputed as one of the most preferred college for engineering education within short time. The college has created a resourceful and inspiring academic ambience and world class infrastructure. The college is Private Self Financing Institution. The College is approved by AICTE, New Delhi. The College is permanently affiliated to Jawaharlal Nehru Technological University, Hyderabad (JNTUH). TEQIP granted College.  An UGC Autonomous Institution.
        
        ANURAG Engineering College offers several Undergraduate, Postgraduate Programs.</b></p>
        <img src="{{url_for('static',filename="images/About-Anurag-college-1.jpg")}}" width="50%" height="50%" alt="campus">
</body>
</html>