<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="style1.css">
<script>
  function clik(){
    window.location.href='/submit';
  }
</script>
</head>

<body style="background-color:rgb(212, 200, 153);">
    <br><br>
     <img src="{{url_for('static',filename="images/log2.o.png")}}" alt="anurag logo" width="60%" height="30%" > <br>
   
    <center><br> 
     <font face="cinzel" size="4">
        <a href="{{url_for('home5')}}">HOME</a>
       <a href="{{url_for('campus')}}">CAMPUS LIFE</a>
       <a href="{{url_for('placements')}}">PLACEMENTS</a>
       <a href="{{url_for('branches')}}">BRANCHS</a>
       <a href="{{url_for('exam')}}">EXAMINATION</a>
       <a href="{{url_for('contact')}}" >CONTACT US</a>
       <a href="/signup">STUDENT PORT</a>
     </font>
    </center ><br><br>
       <marquee behavior="" direction="left" style="background-color: skyblue;" >NOTE:  EAMCET  /ICET  /PGECET  /POLYCET<p></p>CODE:CVSR</marquee>
     <h1>CAMPUS</h1>
     <img src="{{url_for('static',filename="images/main block.jpeg")}}" width="80%" height="50%" alt="block A">
<div class="bg-container" style="background-color: pink;">
      <h2 align="right"><a href="{{url_for('view')}}">view more</a></h2>
      <img src="{{url_for('static',filename='images/logo-white.png')}}" alt="logo2" width="60%" height="30%">
      <img src="{{url_for('static',filename='images/naac-1.png')}}" alt="nacc" width="10%", height="10%">
      <img src="{{url_for('static',filename='images/NBA-1-150x117.png')}}" alt="nba" width="10%", height="10%"onclick="turn()">
    <br>
    <img src="{{url_for('static',filename='images/Img-2-3.png')}}" alt="campus"  width="50%" height="50%">

      <p class="paragraph"><h1>Admissions</h1>
     <b><pre><h3>    The admissions into ‘B’ category will be made by the management of the College based 
    on the merit in TS EAMCET / Intermediate Marks. 
    For more details contact : 9989976767 / 9848722701</h3></pre></b></p>
    

     <div>
       <h1>Address</h1>
       <h2>Anurag University</h2><p>
       Venkatapur, Ghatkesar, Medchal–Malkajgiri district,<br> Hyderabad, Telangana,<br> India. 500 088.<br>phone: +91 – 9989976767,
        +91 – 9848722701
      </p>
      <img src="{{url_for('static',filename='images/nirf-img-4.png')}}" alt="nirf" width="80%" height="5%">
      <img src="{{url_for('static',filename='images/nirf-img-3.png')}}" alt="nirf" width="80%" height="5%">
      <img src="{{url_for('static',filename='images/nirf-img-2.png')}}" alt="nirf" width="80%" height="5%">


      <h2>Leave us a message</h2>
     </div>
     <div><form>
      <label for="Name">Name</label><br>
      <input type="text" name="name" id="name"><br><br>
      <label for="email">Email</label><br>
       <input type="email"><br><br>
       <label for="Phone/Mobile">Phone/Mobile</label> <br>
      <input type="number"><br><br>
      <button onclick="clik()" >submit</button>
     </div>
      
</body>
</html>