<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(101, 139, 139);">
    <img src="{{url_for('static',filename="images/mech1.jpg")}}" width="50%" height="50%" alt="mech image">

    <p>
      <h1> Mechanical Engineering</h1>
Prominent Features
With 40+ knowledge-base well qualified and experienced faculty members with specialization in various fields of mechanical.
All lab facilities of the department cater to the needs of practical courses pertaining to B.Tech. & M.Tech. Programs.
Well equipped CAD/CAM Lab is with high end computes with all modeling and analysis software Ansys, ProE (CREO), NISA and AutoCAD.
Accurate and Speed Manufacturing with CNC lathe and CNC milling Machines.
In house projects to students of final year.
Frequent Industrial visits
<h3>Overview</h3>
The Mechanical Department in Anurag Engineering College was established in 2004, with an intake of 60. Now the Department has an efficient team of 21 faculty members with two Professors and 19 Assistant Professors, headed by Mr.K.Veeranjaneyulu M.Tech,(Ph.D) with 9 years experience.The Department has 11 labs which are fully equipped with the latest quality machinery, equipment, tools and instruments, to meet the requirements of JNTUH, AUTONOMOUS syllabus and AICTE Norms.

The MACHINE DESIGN Laboratory has been set up. The MACHINE DESIGN laboratory is catering to the needs of students in such a way that they will not only have exposure to the areas of Computer Aided Analysis, ANYSIS, NISA, Pro-E and CAM etc, but also can do some projects. The Department library consists of 250 books available for faculty and students. The Department has taken up a lot of fabrication work for the institution over a period of time. The Department has been very active in organizing various programmes of general and academic interest.

The Department is organizing “Mechanical Engineering Association” MECHNOMICZ.

The main objective of Mechanical Engineering Association is to impart the technical and soft skills education and to develop the leadership qualities among the students of Mechanical Engg. Dept.

The Association provides the forum to motivate the students for participating in various activities like Paper Presentation, Technical Quiz group discussion etc. As a beginning, Technical Quiz, Group Discussions and Seminars at Department level have been organized. Prizes have been distributed to the winners of the events.

The department has well qualified and dedicated faculty members to provide proper guidance and good technical support to the students. The department of ME has a vision to become a centre of excellence in the field of Mechanical Engineering. All our faculty and students are dedicated to achieve this goal with great, enthusiasm and good ethical values.
    </p>

    <img src="{{url_for('static',filename="images/MECH.jpeg")}}" width="50%" height="50%" alt="MECH">

    
</body>
</html>