<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLACEMENTS</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <p>
        <h1>Placements</h1>

    <img src="{{url_for('static', filename='images/placements.jpg')}}" alt="placements">
<h2>Overview</h2>
Owing to hectic competition & objective being significant to provide jobs to eventual engineers at the earliest placement obtained its prominent place in professional institutions, consequent to this a lot of endeavors to the modern trend has taken more significance & measures carried being that to make students to be industrious & be readied to meet the requirements of the industries in the vicinity, national & global levels by equipping aptly to accomplish in the time- to-time demands by

To provide to all with special attention /care paid to every individual
The necessary seeding gets initiated from 4th semester as well as 2ndsemester respectively to UG & PG professional degrees students
Career, professional course exposure are well engineered & counseling is done to the core & effectively too.
Higher additional education through GATE, TOFEL and GRE are also being emphasized along necessary assistance monetarily
Topmost assistance on taking part in seminars & allied so as to bring up their adroitness, acumen about the job opening & employability Skills
Other tactics in use are PD, ELCS, ACS, & others in trend accordingly
Extensive training program towards the recruitment drive & mould the students to face such one with a face lift provided through intense training & placement
Ever ready preparedness is being provided with technical /industrial experts periodically
Given such as advance & outcome based training skill development, our renowned institution keep an eye on & short listed in the annual recruitment to fix drive & select the capable Anuragians ,goodly/aptly
CRT taps the adroitness & other salient technicalities in possession & extra drilling is in practice to a sure befitting level
All relevant moulding through all calibers & selected capabilities being the added attraction indeed of Anurag institution
All the hurdles coming across out of the obvious reasons getting rectified & the skills are further refurbished to meet the drives confidently as well successfully.
The list of companies includes INFOSYS, WIPRO, IBM, TCS, INFOTECH, SATYAM, MAHINDRA & gets augmented year by year
No stones are left unturned to reach potential employees via shaping the students full-fledged in APTITUDE/PRESENTATION, RESUME DRAFTING, GROUP DISCUSSION & INTERVIEW SKILLS indeed organizing through on/off campus  interviews, industry interaction & personality development programs along with sharpening the facilities towards employability.
To meet the hectic competition prevailing, industry institute interaction cell orchestrates the exact level of interaction to meet the demand & supply aspect of the engineering domain globally by upgrading the syllabi to face job opening in MNCs.
The other training as per the recruitment drive is corporate foundation in maths, expertness in other domain & related fields along with technical, behavioral ,logical aspects as obelisk of the training.
Placement cell is just not only to arrange for recruitment drives for livelihood but sure to cultivate an array of skills meant for the build up of life & the career advancement throughout/evermore. Placement cell ensures confidence pertaining to the futurity of engineering graduates.
    </p>
    <div class="hero">
    <img src="{{url_for('static',filename='images/Group-7216.png')}}" alt="graph" width="70%" height="30%"><br>
    <img src="{{url_for('static',filename='images/Group-7335.png')}}" alt="graph">
    </div>
</body>
</html>