<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(140, 119, 92);" >
    <img src="{{url_for('static',filename="images/au logo.png")}}" alt="oip" width="80%" height="50%">
    <img src="{{url_for('static',filename="images/au logo.jpg")}}" alt="blocks" width="80%" height="50%">
    <img src="{{url_for('static',filename="images/basketball.jpg")}}" alt="lab" width="80%" height="50%">
    <img src="{{url_for('static',filename="images/bg-hoome-003.jpg")}}" alt="exam" width="80%" height="50%">
    <img src="{{url_for('static',filename="images/clasical dance .png")}}" alt="Auditorium" width="80%" height="50%">
    <img src="{{url_for('static',filename="images/class.jpg")}}" alt="campus" width="80%" height="50%">
    <img src="{{url_for('static',filename="images/coding 1.jpg")}}" alt="nss" width="80%" height="50%">
    <img src="{{url_for('static',filename="images/coding 2.jpg")}} alt="class" width="80%" height="50%">
    <img src="{{url_for('static',filename="images/coding 3.jpg")}}" alt="ground" width="80%" height="50%">
    <img src="{{url_for('static',filename="images/coding1.jpg")}}" alt="events" width="80%" height="50%">
    <img src="{{url_for('static',filename="images/conferences.png")}}" alt="coding" width="80%" height="50%">
    <img src="{{url_for('static',filename="images/fest 1.jpg")}}" alt="Sports" width="80%" height="50%">
    <img src="{{url_for('static',filename="images/fest 2.jpg")}}" width="80%" height="50%">
    <img src="{{url_for('static',filename="images/fest 3.jpg")}}" alt="certificates" width="80%" height="50%">
    <img src="{{url_for('static',filename="images/Img-1-1.png")}}" alt="certificates" width="80%" height="50%">
    <img src="{{url_for('static',filename="images/neelimamed-mediacal-college.png")}}" alt="certificates" width="80%" height="50%">



</body>
</html>